<div class="row py-2 mb-2 fs-3">
    <div class="">
        <label>Filtar</label>
        <select class="form-select form-select-lg border-primary" (change)="cambiarCategoria($event)">
            <option value="categorias">Selecciona una categoria</option>
            <option *ngFor="let categoria of categorias" [value]="categoria">{{categoria}}</option>
        </select>
    </div>
</div>
<div class="row p-3 bg-info bg-opacity-10 border border-primary rounded m-1" *ngFor="let post of posts">
    <div class="col-8 ">
        <h2>Titulo: {{post.titulo}}</h2>
        <h4>Categoria: {{post.categoria}}</h4>
        <p>{{post.texto}}</p>
        <p>{{post.autor}} | {{post.fecha}} </p>
    </div>
    <div class="col-4">
        <img [src]="post.imagen" alt="">
    </div>
</div>